/out/
/resources/public/js/compiled/
/target/
/*-init.clj
/*.log

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/

/.clj-kondo/
/.lsp/
/.cpcache/
/.calva/

/SanScript/
/test/clj/sanide_backend/bench-results/*
config.toml
san_compiler
san_vm
santool

.cljs_node_repl/
cljs-test-runner-out/